<section class="bg-primary" id="about">
    <div class="container">
        <hr class="hr-blue">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading primaty-h2">MyUniver - это гарантия безопасности и комплексной<br>поддержки для иностранных абитуриентов<br>24 часа в сутки</h2>
                <p class="text-faded">Мы будем с Вами от выбора университета до получения диплома</p>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 30px;">
        <div class="col-md-6">
            <p class="description">Процесс выбора, поступления и учебы в университетах Беларуси довольно не простой, особенно для иностранцев, которые приезжают в незнакомую страну. Как подать документы в ВУЗ, как оформить регистрацию, как пройти медицинскую комиссию, как заселиться в общежитие и множество других "как" беспокоит иностранного абитуриента.</p>
        </div>
        <div class="col-md-6">
            <p class="description">Именно поэтому наша команда оказывает профессиональную помощь и полное сопровождение приезжим абитуриентам на протяжении всего этапа получения высшего образования в Республике Беларусь, чтобы Вы и Ваша семья были уверенны в завтрашнем дне и не сомневались в успешном получении диплома о высшем образовании!</p>
        </div>
    </div>
</section>

