<div class="back-white">
  <div class="container text-center container-description-diary">
    <h3>Для чего нужен <span class='red-color'>онлайн-дневник</span>?</h3>
    <p class="diary-description">
      <span class='main-text'>Быть родителем</span>– значит быть рядом всегда, вне зависимости от расстояния. И именно поэтому мы разработали ОНЛАЙН-ДНЕВНИК, где можно в любое вреня посмотреть успеваемость Вашего студента. 
    </p>
    <p class="diary-description">
      <span class='main-text'>Онлайн-дневник</span>– это представление в удобной форме всей информации по учебному процессу: от списка экзаменов и зачётов до пропусков и выговоров. Здесь же можно увидеть и текущий рейтинг среди всех студентов.
    </p>
    <p class="diary-description">
      Стать причастным к процессу обучения просто – достаточно <%= link_to "ввести номер зачётной книжки", signin_path , class:'link_to_diary'%> . С нами Вы всегда будете в курсе успехов и достижений Вашего ребёнка! 
    </p>
  </div>
</div>
