<header>
    <div class="col-md-8 header-content">
        <div class="header-content-inner">
            <h1>Ваш проводник<br>к высшему образованию<br>в Беларуси</h1>
            <p>Полное сопровождение иностранных абитуриентов<br>во время поступления и учебы в ВУЗах Беларуси<br></p>
            <%= link_to "Получить консультацию", request_path , {class:"btn btn-primary btn-xl page-scroll blue-btn",:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
            <a href="#about" class="btn btn-primary btn-xl page-scroll white-btn">Как это работает</a>
        </div>
    </div>
</header>

