<%= render 'layouts/header' %>
<header class='header-parents text-center'>
    <div class="header-content-center">
        <div class="header-content-inner">
            <h1>Онлайн-дневник</h1>
            <p class="header-p">Вся информация по учебному процессу</p>
            <div class="margin-button">
              <%= link_to "ВХОД", signin_path, class:'button-header' %>
            </div>
        </div>
    </div>
</header>
<%= render 'description_diary' %>
<%= render 'layouts/footer' %>
