<div class="container" style="margin-top: 50px;">
  <div class="col-md-3">
    <p style="color: #b7a7ae;">Фильтры</p>
  </div>
  <div class="col-md-9">
  <p style="color: #b7a7ae;">Университетов найдено: </p>
  </div>
</div>

<div class="container" style="padding-top: 10px;">
  <div class="col-md-3">
    <%= render "static_pages/filtres" %>
  </div>
  <div class="col-md-9">
    <%= render "universities/universities_list" %>
  <p><%= will_paginate @univers , :previous_label => "", :next_label => "", style:"margin-left: 30px;color: #363636;font-size: medium;"%>
  </p>
  </div>
</div>