// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: #3b5998 !important;
}

.main-wrapper{
  padding: 0px;
}


.wrapper{
  margin-top: 50px;
}

#red_color{
  color: white;
}

.back{
  background: white;
  padding: 0px;
  padding-bottom: 40px;
}

.nav-st{
  margin-bottom: 20px;
}

.white-line{
  background-color: white;
  height: 30px;
}

.pink-line{
  background-color: #f88787;
  height: 40px;
  text-transform: uppercase;
}

.username{
  padding-top: 7px;
  font-family: 'Roboto';
  font-size: 18px;
  color: white;
}

.img-circle{
  border-radius: 50%;
  height: 230px;
  width: 230px;
  object-fit: cover;
}

.info-cont{
  margin-top: 30px;
}

.info-first{
  color: #949494;
  width: 30%;
}

.info-second{
  color: #3b5998;
  width: 65%;
}

.full-info{
  vertical-align: top;
  padding-top: 10px;
  font-size: 16px;
}

.circle{
  margin: auto;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 80px;
  height: 80px;
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
  border-color: #f88787;
  color: #f88787;
  font-size: 24px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
}

.text-circle{
  color: #949494;
}

.marks-cont{
  margin-top: 30px;
  padding: 0px;
}

.hr-text{
  width: 100%;
}

.text-hr{
  width: 1px;
  padding: 0 15px;
  white-space: nowrap;
  vertical-align: middle;
  font-size: large;
}

.student_info_table{
  margin-left: 15px;
  width: 100%;
}

.half-hr{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #d8d8d8; /* old IE */
    background-color: #d8d8d8; /* Modern Browsers */
}

.cont-tabl{
  margin-top: 30px;
  width: 80%;
}

.sem-select{
  width: 33% !important;
  color: #3b5998;
  padding: 0px;
  padding-left: 10px;
}

.semester-label{
  font-weight: lighter;
  padding-right: 15px;
}

.select-cont{
  margin-bottom: 45px;
}

tr.tr-up{
  border-left: 1pt solid #d8d8d8 !important;
  border-bottom: 1pt solid #d8d8d8 !important;
  border-right: 1pt solid #d8d8d8 !important;
}

.first-head{
  height: 40px;
  padding-top: 10px;
  background-color: #de8686;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.active-head{
  background-color: #ba6867 !important;
}

.table-head{
  height: 20px;
  background-color: #d8d8d8;
  color: black;
  font-weight: lighter;
  font-size: 14px;
}

.hide{
  display: none;
}

.progress-tr{
  padding-left: 20px !important; 
}

.good-progress{
  color: #546ea5 !important;
  height: 25px;
}

.bad-progress{
  color: #de8686 !important;
  height: 25px;
}



/****** Loader ******/


.loader:after {
    content: "";
  display: inline-block;
  font-size: 6.2px;
  //margin-top: 40px;
  border: 1.2em solid #004080;
  border-right-color: rgba(0,64,128, 0) !important;
  transform: translateZ(0);
  animation: spiner 1s infinite cubic-bezier(0.53, 0.21, 0.57, 0.85), colors 3s infinite cubic-bezier(0.45, -0.03, 1, 0.77);
  border-radius: 50%;
  width: 10em;
  height: 10em;
  
  position: absolute;
  top: 50%;
  margin-top: -6em;  
}



@keyframes colors {
  0% {
    border-color: #3091e6;
    border-bottom-color: transparent;
  }
  33% {
    border-color: #0a5da9;
    border-bottom-color: transparent;
  }
  66% {
    border-color: #00bbd5;
    border-bottom-color: transparent;
  }
  100% {
    border-color: #3091e6;
    border-bottom-color: transparent;
  }
}
@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}



.personal-footer{
  margin-top: 50px;
  background-color: #192128;
  padding-bottom: 30px;
}

.text-footer{
  padding: 40px;
  color: #ff8888;
  width: 55%;
  font-weight: bold;
}

.social{
  padding-left: 10px;
  padding-right: 10px;
  width: 80px;
}

























