// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: #3b5998 !important;
}

.wrapper{
  margin-top: 50px;
}

#red_color{
  color: white;
}

.back{
  background: white;
  padding: 0px;
}

.nav-st{
  margin-bottom: 20px;
}

.white-line{
  background-color: white;
  height: 30px;
}

.pink-line{
  background-color: #f88787;
  height: 40px;
  text-transform: uppercase;
}

.username{
  padding-top: 7px;
  font-family: 'Roboto';
  font-size: 18px;
  color: white;
}

.img-circle{
  border-radius: 50%;
  height: 230px;
  width: 230px;
}

.info-cont{
  margin-top: 30px;
}

.info-first{
  color: #949494;
  width: 35%;
}

.info-second{
  color: #3b5998;
  width: 65%;
}

.full-info{
  vertical-align: top;
  padding-top: 10px;
  font-size: 16px;
}

.circle{
  margin: auto;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 80px;
  height: 80px;
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
  border-color: #f88787;
  color: #f88787;
  font-size: 24px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
}

.text-circle{
  color: #949494;
}

.marks-cont{
  margin-top: 30px;
  padding: 0px;
}

.hr-text{
  width: 100%;
}

.text-hr{
  width: 1px;
  padding: 0 15px;
  white-space: nowrap;
  vertical-align: middle;
  font-size: large;
}

.half-hr{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #d8d8d8; /* old IE */
    background-color: #d8d8d8; /* Modern Browsers */
}
