

  <div class="wrapper">
    <div class="form-signin" style="text-align: center;"> 
      <%= image_tag("correct.png", style:"margin-top: 70px;margin-bottom: 10px;") %>
      <h3 style="margin-bottom: 20px;">ЗАЯВКА ОТПРАВЛЕНА!</h3>
      <p>Мы свяжемся с вами в течение 15 минут</p>
      <button class="btn btn-lg btn-primary btn-block" style="margin-top: 100px;" onClick="closeModalWindow()">Закрыть</button>
    </div>
  </div>
