<div id="left-modal" class="col-md-6"></div>
<div class="col-md-6" style="padding-left: 25px;">
  <div class="modal-body" style="padding-left: 0px;text-align: center;">

    <%= image_tag("correct.png", style:"margin-top: 70px;margin-bottom: 10px;") %>
    <h3 style="margin-bottom: 20px;">ЗАЯВКА ОТПРАВЛЕНА!</h3>
    <p>Мы свяжемся с вами в течение 15 минут</p>
    <button class="modal-button" style="margin-top: 100px;" onClick="closeModalWindow()">Закрыть</button>
  </div>
</div>  