@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "bootstrap-slider";
@import "bootstrap-select";
@import "font_awesome";

@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-slider
 *= require_tree .
 *= require_self
 */




/** nav **/

body{
  background-color: #F5F5F5;
  font-family: PT Sans,Lucida Grande,Helvetica Neue,Arial,sans-serif;
}

.navbar{
  background-color: #23599b;
  border: none;
}

.btn_nav {
  background: #fff;
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: -moz-linear-gradient(top, #fff, #fff);
  background-image: -ms-linear-gradient(top, #fff, #fff);
  background-image: -o-linear-gradient(top, #fff, #fff);
  background-image: linear-gradient(to bottom, #fff, #fff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: rgb(35, 89, 155);
  font-size: 20px;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn_nav:hover {
  background: #fff;
  text-decoration: none;
}


.main_links{
  font-family: sans-serif;
  font-size: 18 !important;
  color: #fff !important;
}

.main_links:hover{
  color: #c1c1c2 !important;
}


.feedback{
  padding: 10px !important;
}

/**   slider   **/

.item{
  max-height: 480px !important;
}

/**  Universities  **/

.image-university{
  position: relative; 
  width: 100%;
}

.image_text_first{
  position: absolute; 
  top: 80px; 
  left: 30px; 
  width: 90%; 
}

.image_text_second{
  position: absolute; 
  top: 160px; 
  left: 30px; 
  width: 100%; 
  color: silver;
}

.preparatory_department{
  font-family: PT Sans,Lucida Grande,Helvetica Neue,Arial,sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #333; 
}

.large-btn{
  width: 145px;
  color: #23599b;
  background-color: #fff;
}

.large-btn_open{
  width: 145px;
}

.large-btn_active{
  width: 145px;
  color: #fff;
  background-color: #23599b;
}

.left_bottom{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right_bottom{
  padding: 10px 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.head{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}



.container_for_departaments :hover{
  color: #fff;
  transition: color .3s,background-color .3s,border-color .3s;
  background-color: #23599b;
  border-width: 1px !important;
  border-top: none;
  border-color: #23599b;
}


.departament_row{
  height: 65px;
  border: 1px solid #f5f5f5;
  border-radius: 2px;
  margin-top: 10px;
  background-color: #F5F5F5;
  color: #333333;
}

.departament_row_open{
  background-color: #23599b;
  color: #fff;
  height: 65px;
  
  border-radius: 2px;
  margin-top: 10px;
}


.departament_details{
  position: relative;
  top: 25px;
}
.departament_details:hover{
  background-color: rgba(35, 89, 155, 0);
}

.table_specialties{
  width: 100%;
  border-left-color: #23599b;
  padding-left: 30px;
  padding: 15px 15px 0;
  font-family: PT Sans,Lucida Grande,Helvetica Neue,Arial,sans-serif;
}

.table_align{
  text-align: center;
}

.td_align{
  text-align: center;
}

.cont{
  padding: 0px !important;
  display: none;
}

.table{
  border-width: 1px !important;
  border-top: none;
  border-color: #23599b;
}

.head_table{
  font-size: 1.2rem;
  line-height: 1.8333333333;
  color: silver;
  text-transform: uppercase;
  width: 100%;
  padding-left: 20px;
  font-weight: 400;
}

.tr_head{
  height: 40px;
  padding: 15px 15px 0;
  border-bottom: 1px solid #f5f5f5;
  font-family: PT Sans,Lucida Grande,Helvetica Neue,Arial,sans-serif;
}

.padding_spec{
  padding-left: 30px;
}

.td_height{
  height: 75px;
}


/**   services   **/
.serv{
  margin-top: 20px;
  text-align: center;
}

.first_half_logo{
  color: #bb6062;
}

.list_services{
  margin-top: 40px;
  text-align: center;
  color: #424c58;
}

.world{
  position: relative;
  left: 10px;
}

.welcome{
  position: relative;
  top: 10px;
  right: 10px;
}

.plane{
  position: relative;
  top: 12px;
}

.details_silver{
  color: silver;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.cont_univer{
  width: 100%;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
}

.ava_univer{
  text-align: center;
  padding-bottom: 20px;
}

.description_univer{
  padding-left: 30px;
}

.univer_name_link{
  color: black;
  text-decoration: none;
}

.univer_name{
  margin-bottom: 5px;
}

.univer_short_name{
  margin-bottom: 0px;
  color: silver;
}

.mini_image{
  margin-right: 10px;
}

.prep_depart{
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 20px;
}

.green_price{
  color: #81cf3a;
}

.images_univers{
  margin-bottom: 0px;
}

.cont_univer_show{
  padding-top: 50px;
  padding-bottom: 50px;
}

.show_univer_ava{
  padding-bottom: 20px;
  text-align:center;
}

.univer_text{
  padding-bottom: 15px;
}

.p_city{
  margin: 0px;
}

.city{
  font-weight: bold;
  padding: 0px;
}

.address_univer{
  margin-bottom: 22px;
  padding: 0px;
}

/**   news   **/

.news{
  border: 1px solid;
  border-color: silver;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  bottom: 45px;
}

.news_decript{
  padding-top: 10px;
  color: #363636;
}

.news-mini{
  margin-bottom: 0px;
  bottom: 0px;
}




/**   footer   **/

.footer_top{
  margin: 0px;
  height: 20px;
  background-color: black;
}

.footer{
  background-color: #192128;
  margin: 0px;
}

.footer_apper{
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
}

.foot_main{
  margin-bottom: 20px;
}

.communication{
  padding-left: 10px;
}

.communication_tab{
  padding-left: 14px;
}

.request_text{
  margin-bottom: 15px;
}

.request{
  margin-top: 30px;
}

a:hover{
  text-decoration: none !important;
}

.modal a {
  text-decoration: none !important;
}


.footer a{
  color: silver;
  text-decoration: none;
}

.footer a:hover{
  color: #fff;
}

.footer_columns{
  margin-top: 30px;
  color: silver;
}

.social{
  position: relative;
  top: 5px;
  padding-right: 20px;
  opacity: 0.8;
}

.logo_footer_red{
  font-family: sans-serif;
  font-size: 18pt;
  color: #bb6062;
}

.logo_footer_white{
  font-family: sans-serif;
  font-size: 18pt;
  color: #fff;
}


.info{
  font-size: 1.2rem !important;
  line-height: 1.8333333333;
  color: #424c58;
  margin-bottom: 0;
}

.footer_info{
  margin: 0;
  font-size: 14px;
}

/****** Modal window ******/
@import "bourbon";

.modal{
  overflow-y: auto !important; 
  background-color: rgba(0,0,0,0.4);
}


.wrapper {  
    margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin-in {
  margin-bottom: 30px;
  max-width: 480px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
    .checkbox {
      margin-bottom: 30px;
    }

    .checkbox {
      font-weight: normal;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
        @include box-sizing(border-box);

        &:focus {
          z-index: 2;
        }
    }

    input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
}










.header_image_all{
  width: 100%;
  position: relative;
  background-image: image-url('services.jpg');
  background-size: 100% 100%;
  height: 489px;
}

.univer-full-ava{

}

.header_image_show{
  width: 100%;
  position: relative;
  background-size: 100% 100%;
  height: 489px;
}

.header_image_news{
  width: 100%;
  position: relative;
  background-image: image-url('news.jpg');
  background-size: 100% 100%;
  height: 489px;
}


.input-group{
  width: 100%;
}

.cell input{
  float: left;
  width: 85%;
  height: 50px;
  border: none;
  padding: 0 20px;
  border-radius: 3px 0 0 3px;
}


.button_search{
  float: right;
  width: 15%;
  height: 50px;
  border-radius: 0 3px 3px 0;
  color: #fff;
  background-color: #23599b;
  font-size: 1.4rem;
  line-height: 1.5714285714;
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 28px;
  border: 1px solid transparent;
  white-space: nowrap;
  -moz-user-select: none;
  cursor: pointer;
  transition: color,background-color,border-color;
  transition-duration: .25s;
}

.secondary-font{
  color: white;
}

.cont_image_main{
  padding-top: 250px;
}

.secondary-font_main{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 48px;
}

.secondary-font_main_mini{
  padding-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  opacity: 0.7;
  line-height: 1.55;
  color: #fff;
  font-size: 20px;  
}


.cont_image{
  padding-top: 150px;
}

.button_right{
  text-align:right;
}

.cont_filtr{
  margin-top: 50px;
}

.text-filtres{
  color: #b7a7ae;
}

.count_univers{
  color: #b7a7ae;
}

.paginate_univers{
  margin-left: 30px;
  color: #363636;
  font-size: medium;
  .current{
    font-style: normal !important;
    display: inline-block;
    padding: 10px 18px;
    color: #222;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
  }
  a{
    display: inline-block;
    padding: 10px 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    border-radius: 100%;
    color: #2EFE2E;
  }
  
}

.select{
  margin-bottom: 50px;
  text-transform: uppercase;
}


/****** news ******/

.news_page{
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.cont_new{
  padding-top: 200px;
}

.cont_news_descript{
  padding-top: 20px;
}

.news_h{
  color: black;
}

.news_ava{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text_news{
  color: #343434;
  text-align: justify;
}

.news_more{
  color: gray;
}



/*******   checkboxes *******/

$activeColor: #A9A9A9; //green
$darkenColor: darken($activeColor, 20%);

/* .roundedOne */
.roundedOne {
  width: 20px;
  height: 20px;
  position: relative;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    left: 3px;
    top: 3px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      opacity: 0;
      border-radius: 50px;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }    
}

.roundedTwo {
  width: 20px;
  height: 20px;
  position: relative;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    left: 3px;
    top: 3px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      opacity: 0;
      border-radius: 50px;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }    
}


.roundedThree {
  width: 20px;
  height: 20px;
  position: relative;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    left: 3px;
    top: 3px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      opacity: 0;
      border-radius: 50px;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }    
}

.roundedFour {
  width: 20px;
  height: 20px;
  position: relative;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    left: 3px;
    top: 3px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      opacity: 0;
      border-radius: 50px;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }    
}


.roundedFive {
  width: 20px;
  height: 20px;
  position: relative;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    left: 3px;
    top: 3px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      opacity: 0;
      border-radius: 50px;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }    
}

.label_checkbox{
  font-weight: lighter;
  padding-left: 30px;
}

#selectpicker-id{
  width: 200px;
}


/******   button ******/
.container-button{
  margin-top: 30px;
  margin-left: 40px;
}

.button-rounded-filter {
  border-radius: 3px;
}

.button-flat-filter {
  box-shadow: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  background: #EEE;
  border: none;
  text-shadow: none;
}

.button-filter {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.15);
  background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fbfbfb),color-stop(100%,#e1e1e1));
  background: -webkit-linear-gradient(top,#fbfbfb,#e1e1e1);
  background: linear-gradient(to bottom,#fbfbfb,#e1e1e1);
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 30px;
  padding: 0 25.6px;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #666;
  text-shadow: 0 1px 1px #fff;
  margin: 0;
  text-decoration: none;
  text-align: center;
  &:hover{
    box-shadow: inset 0 5px 0 rgba(255,255,255,.5),2px 2px 2px rgba(0,0,0,.15);
  }
}




@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#blockimg1{
  background-image: image-url('tild3064-3838-4663-a331-353765373963__azjk36w8tze.jpg');
  background-position: center;
  background-size: cover;
}

#blockimg2{
  background-image: image-url('tild3839-3539-4530-b330-333539333233__6ouc7i69cb0.jpg');
  background-position: center;
  background-size: cover;
}

#blockimg3{
  background-image: image-url('tild3132-3535-4538-a132-303861373333__5ihczofelg.jpg');
  background-position: center;
  background-size: cover;
}


.hr_style{
    width: 20%;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(35, 89, 155);
}    

.t-cover__carrier{
  background-image: image-url('tild6266-6464-4661-b434-373630323433__430173.jpg');
}

#first_comment{
  background-image: image-url('tild3731-3362-4965-a232-623362633639__7cmlcgbtxq0.jpg');
}

#second_comment{
  background-image: image-url('tild3539-3263-4737-b362-613535303661__u31rgwheua.jpg');
}

#third_comment{
  background-image: image-url('tild3034-3933-4336-b139-336639643638__nqpytsf5q30.jpg');
}

#coverCarry7248904{
  background-image: image-url('tild6137-6533-4534-b264-376631373463__smoothtouchworkspace.jpg');
}

.bootstrap-select .btn {
  width: 70% !important;
}


@media (max-width: 991px) {
    .form-signin {
      width: 60% !important;
      height: auto;
      padding: 15px 35px 45px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.1);  

      .form-signin-heading,
        .checkbox {
          margin-bottom: 30px;
        }

        .checkbox {
          font-weight: normal;
        }

        .form-control {
          position: relative;
          font-size: 16px;
          height: auto;
          padding: 10px;
            @include box-sizing(border-box);

            &:focus {
              z-index: 2;
            }
        }

        input[type="text"] {
          margin-bottom: -1px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        input[type="password"] {
          margin-bottom: 20px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
    }
    header .header-content {
      padding: 130px 15px;
    }
    .blue-btn{
      margin-top: 10px!important;
    }
    .white-btn{
      margin-top: 10px!important;
    }
    .cont-nav{
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
    }
    .navbar-header {
        float: none;
    }
    .black_white{
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      filter: none; 
    }
    .navbar-brand{
      height: 60%!important;
      margin-top: 10px;
      margin-left: 20px!important;
    }
    .navbar-toggle {
        border: none;
        display: block;
        height: 85px;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #23599B;
        border: 1px solid white !important;
        cursor: pointer;
    }
    .navbar-toggle .icon-bar{
        background-color: white!important;
        width: 70px;
        height: 5px;
        margin: 12px 14px 12px 14px;
    }
    .navbar-collapse {
        padding-top: 40px; 
        text-align: center;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-default .navbar-collapse{
      margin-top: 20px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .main_links{
      font-size: 32px;
    }
    .btn_nav, .btn_nav:focus, .btn_nav:active, .btn_nav:hover{
      font-size: 32px;
      background: none;
      background-image: none;
      border-radius: none;
      font-family: Arial;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .white-btn{
      margin-left: 0px!important;
    }
}



.form-signin {
  width: 40%;
  height: auto;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
    .checkbox {
      margin-bottom: 30px;
    }

    .checkbox {
      font-weight: normal;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
        @include box-sizing(border-box);

        &:focus {
          z-index: 2;
        }
    }

    input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
}




.footer_pages{
  top: 3px;
  margin-bottom: 5px;
}

.btn_footer{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: white!important;
  font-size: 20px;
  background: #7c94a3;
  padding: 10px 30px 10px 30px !important;
  text-decoration: none;
}


#mail_footer{
  opacity: 0.7;
}


.modal-head{
  background-color: #23599b;
}


.hide{
  display: none;
}

.block_class{
  padding: 0 !important;
}