@import "bootstrap-sprockets";
@import "bootstrap";


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/** nav **/

body{
  background-color: #F5F5F5;
}

.navbar{
  background-color: #141c29;
  border: none;
}

.logo{
  position: relative;
  top: 13px !important;
}

.logo:hover{
  text-decoration: none;
}

.main_links{
  font-family: sans-serif;
  font-size: 18 !important;
  color: #c1c1c2 !important;
}

.main_links:hover{
  color: #fff !important;
}

.pages{
  position: relative;
  top: 8px !important;
  padding-left: 50px;
}

.feedback{
  padding: 10px !important;
}

/**   slider   **/

.item{
  max-height: 480px !important;
}

/**  Universities  **/

.image-university{
  position: relative; 
  width: 100%;
}

.image_text_first{
  position: absolute; 
  top: 80px; 
  left: 30px; 
  width: 90%; 
}

.image_text_second{
  position: absolute; 
  top: 160px; 
  left: 30px; 
  width: 100%; 
  color: silver;
}

.preparatory_department{
  font-family: PT Sans,Lucida Grande,Helvetica Neue,Arial,sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #333; 
}

.large-btn{
  width: 145px;
  background-color: #23599b;
}

.head{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}



.container_for_departaments :hover{
  color: #fff;
  transition: color .3s,background-color .3s,border-color .3s;
  background-color: #23599b;
  border-width: 1px !important;
  border-top: none;
  border-color: #23599b;
}


.departament_row{
  height: 65px;
  border: 1px solid #f5f5f5;
  border-radius: 2px;
  margin-top: 10px;
}

.departament_details{
  position: relative;
  top: 25px;
}


.table_specialties{
  border-left-color: #23599b;
  padding-left: 30px;
  padding: 15px 15px 0;
  font-family: PT Sans,Lucida Grande,Helvetica Neue,Arial,sans-serif;
}

.cont{
  padding: 0px !important;
}

.table{
  border-width: 1px !important;
  border-top: none;
  border-color: #23599b;
}

.head_table{
  font-size: 1.2rem;
  line-height: 1.8333333333;
  color: silver;
  text-transform: uppercase;
  width: 100%;
  padding-left: 20px;
  font-weight: 400;
}

.tr_head{
  height: 40px;
  padding: 15px 15px 0;
  border-bottom: 1px solid #f5f5f5;
  font-family: PT Sans,Lucida Grande,Helvetica Neue,Arial,sans-serif;
}

.padding_spec{
  padding-left: 30px;
}

.td_height{
  height: 75px;
}


/**   services   **/
.serv{
  margin-top: 20px;
  text-align: center;
}

.first_half_logo{
  color: #bb6062;
}

.list_services{
  margin-top: 40px;
  text-align: center;
  color: #424c58;
}

.world{
  position: relative;
  left: 10px;
}

.welcome{
  position: relative;
  top: 10px;
  right: 10px;
}

.plane{
  position: relative;
  top: 12px;
}

.details_silver{
  color: silver;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

/**   news   **/

.news{
  border: 1px solid;
  border-color: silver;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  bottom: 45px;
}

.news_decript{
  padding-top: 10px;
  color: #363636;
}


/**   footer   **/

.footer_top{
  margin: 0px;
  height: 20px;
  background-color: black;
}

.footer{
  background-color: #192128;
  margin: 0px;
}

.footer_apper{
  margin-top: 10px;
  font-size: 11pt;
}

.communication{
  padding-left: 10px;
}

.footer a{
  color: silver;
  text-decoration: none;
}

.footer a:hover{
  color: #fff;
}

.footer_columns{
  margin-top: 30px;
  color: silver;
}

.social{
  position: relative;
  top: 10px;
  padding-right: 20px;
}

.logo_footer{
  font-family: sans-serif;
  font-size: 18pt;
}

.info{
  font-size: 1.2rem !important;
  line-height: 1.8333333333;
  color: #424c58;
  margin-bottom: 0;
}