/*
 *= require bootstrap
 *= require font_awesome
 *= require personal_area/students.css
 *= require_self
*/

body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#canvas{
  position: absolute;
    z-index: -100;
    background-color: #2c343f !important;
    width: 100%;
    height: 100%; 
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    top: -30px;
    padding-top: 20px !important;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 120px;
    background-color: #fff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.redfor{
  background: #3b5998 !important;
  padding-top: 30px;
  padding-bottom: 30px;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    margin: 0 auto 10px;
    display: block;
}
.need-help
{
  padding: 15px;
  padding-right: 0px;
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}




